.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.btn-yellow {
  background-color: #ffbc03;
  border: 2px solid white;
}

.btn-yellow:hover {
  background-color: #ffdc7c;
  color: black;
  border: 2px solid black;
}

body {
  background-color: black;
  color: white;
}

#header {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #ffbc03;
}

.nav-container {
  background-color: #ffbc03;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-optical-sizing: auto;
  border-radius: 20px;
}

.nav-link {
  color: black;
}

#home h1 {
  color: white !important;
}

#home-name {
  color: #ffbc03;
}

.img-circle {
  border-radius: 100%;
  border-color: #ffbc03;
  border-width: 10px;
  border-style: double;
}
